body {
  background: #333;
  font-family: 'Raleway', sans-serif;
}

.btn {
  border: 0;
  border-radius: 0;
  font-weight: 600;
  background-color: #D82A4C;

  padding: 0 30px;
  line-height: 46px;
  min-width: 160px;
  text-align: center;
}

.btn:hover {
  background-color: red;
}

.form-control {
  border: 0;
  border-radius: 0;
  height: 46px;
  padding: 10px;
  line-height: 26px;
}

.header {
  margin-top: 60px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

  .header-logo > img {
    display: block;
  }

  .header .nav-link {
    color: #fff;
    transition: 0.3s;
  }
  .header .nav-link:hover { border-bottom: 3px solid red; }


.section-cover {
  padding-top: 106px;
  height: 100vh;
  width: 100%;
  background: url('../imgs/bg.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
}

.cover {
  color: #fff;
  text-align: center;
}

.cover-title {
  font-size: 60px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 20px;
}

.cover-text {
  font-size: 14px;
  line-height: 2.4;
  margin: 0;
  margin-bottom: 60px;
}
